//COLOR VARIABLES

$color-primary: #09299E;
$color-primary-light: #0D5EDE;
$color-primary-dark: #0836C5;
$color-grey-dark: #777;
$color-white: #fff;

//GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem; //translates to margin-bottom: 80px
$gutter-horizontal: 6rem; //translates to margin-right: 60px

