.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);
  transition: transform .3s; //gives transition to hover effect

  &__icon {
    font-size: 6rem;
    margin-bottom: 3rem;
    display: inline-block;
    background-image: linear-gradient(to right,
        rgba($color-primary, 0.6),
        $color-primary-dark);
    background-clip: text; //clips the background image into the text
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}