.form {


  &__group:not(:last-child) {
    margin-bottom: .7rem
  }

  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    display: block; // to occupy the whole space and move the label down
    width: 85%;
    color: inherit;
    transition: all .3s;


    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-dark, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      //invalid focused input element
      border-bottom: 3px solid $color-secondary-dark;

    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all .5s;
  }

  &__input:placeholder-shown+&__label {
    // + (adjascent or next sibling). form__input and form__label are both siblings, this means that when form__input placeholder is shown, form__label is hidden.
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    margin-top: 2rem;
    width: 49%;
    display: inline-block;
    transform: translateY(-1.3rem);

  }

  &__radio-input {
    display: none; //hidden by default

  }

  &__radio-label {
    font-size: $default-font-size;
    padding-left: 4rem;
    cursor: pointer;
    position: relative; //parent element for &__radio-button. this is needed for &__radio-button styles to show
  }

  &__radio-button {
    //custom radio button to be used in behalf of the default radio button
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -4px;

    &::after {
      content: ""; //this is necessary in order for ::after to work
      position: absolute;
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      background-color: $color-primary;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; //initial state 
      transition: opacity .2s;
    }
  }

  &__radio-input:checked~&__radio-label &__radio-button::after {
    // &__radio-label is sibling of &__radio-input and &__radio-button is a child of &__radio-label


    opacity: 1;
  }
}