.u-text-center {
  // utility for centering text elements within a parent element. 
  // parent element text-align: center, child element must be inline-block;
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}