.u-text-center {
  // utility for centering text elements within a parent element. 
  // parent element text-align: center, child element must be inline-block;
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}